(define-module config (export-all)
    (define username "user")
    (define password "password")
    (define charname "char")
    (define server "server.themanaworld.org")
    (define port 6901)

    (define adjective "lazy") ; the adjective used to describe the tree
    (define emote-limit 1) ; the number of seconds to wait between emotes

    (define version "0.0.4") ; always increase this number before pushing
    (define build "Vanilla") ; If you are running unmodified code put Vanilla, else put the branch name
    (define source "https://github.com/USER/crazytree")) ; put here your git repo
